  <footer id="footer" class="footer dark-background">
    <div class="container">
      <h3 class="sitename">Lojinha dos Autistas</h3>
      <p>Hub de inovação social com base tecnológica</p>
      <div class="social-links d-flex justify-content-center">
        <a href="https://www.instagram.com/lojinhadosautistas" target="blank"><i class="bi bi-instagram"></i></a>
        <a href="https://www.youtube.com/channel/UCRW72C8GafilJKJT2_uwyYQ" target="blank"><i class="bi bi-youtube"></i></a>
<!--        <a href="rede/login-especial.html"><i class="bi bi-key-fill"></i></a>-->
      </div>
     <!-- <div class="copyright">
        <span>Copyright</span> <strong class="px-1 sitename">Bocor</strong> <span>All Rights Reserved</span>
      </div>-->


<!-- NOVO RODAPÉ COM PRIVACIDADE -->
        
    <div class="mt-4">

      <a href="privacidade.html">
        Política de Privacidade
      </a>

    </div>

    <div class="copyright mt-3">

     <span>Copyright</span> <strong class="px-1 sitename">Bocor</strong>

      <span>Todos os direitos reservados</span>

    </div>


        
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="https://bootstrapmade.com/" target="blank">BootstrapMade</a> | <a href="https://bootstrapmade.com/tools/" target="blank">DevTools</a>
      </div>
    </div>
  </footer>
