  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="index.html" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">Lojinha dos Autistas</h1>
        <span>.</span>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#hero" class="active">Home</a></li>
          <li><a href="#about">Sobre</a></li>
          <li><a href="#produtos">Cursos & Publicações</a></li>
          <li><a href="#featured-services">Conteúdo</a></li>
          <li><a href="livraria/livraria.html">Livraria</a></li>
          <li><a href="jogos/jogos.html" target="_blank">Jogos</a></li>
        </ul>
       <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

   <a class="btn-getstarted" href="eventos/entrepassos.html">Entre Passos e Afetos</a>

    </div>
  </header>
